[Unit]
Description=gans
Documentation=https://github.com/aceberg/gans
After=network-online.target
Wants=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/gans -c /home/%i/.config/gans/config.yaml -r /home/%i/.config/gans/repo.yaml -d /home/%i/.config/gans/sqlite.db
Restart=on-failure

[Install]
WantedBy=multi-user.target