{{ define "index"}}
<body>
    <div class="container mt-3">
        <table class="table table-striped">
            <tr>
                <th style="width: 5%;">Del</th>
                <th style="width: 15%;">Date</th>
                <th>Host</th>
                <th>File</th>
                <th>Head</th>
                <th>Status</th>
                <th style="width: 5%;">Run</th>
            </tr>
        {{ range .Plays }}
            <tr>
                <td>
                    <a href="/del?id={{ .ID }}">
                        <i class="bi bi-x-square"></i>
                    </a>
                </td>
                <td>{{ .Date }}</td>
                <td>
                    <a href="/filter?by=host&tag={{ .Host }}">{{ .Host }}</a>
                </td>
                <td>
                    <a href="/filter?by=file&tag={{ .File }}">{{ .File }}</a>
                </td>
                <td>
                    <a href="/filter?by=head&tag={{ .Head }}">{{ .Head }}</a>
                </td>
                {{ if eq .Error "" }}
                    <td style="background-color: rgb(161, 245, 161)">
                        <a href="/status?id={{ .ID }}">Ok</a>
                    </td>
                {{ else }}
                    {{ if eq .Error "Skipped" }}
                    <td>
                        <a href="/status?id={{ .ID }}">Skipped</a>
                    </td>
                    {{ else }}
                    <td style="background-color: rgb(252, 162, 162)">
                        <a href="/status?id={{ .ID }}">Failed</a>
                    </td>
                    {{ end }}
                {{ end}}
                <td>
                    <a href="/run?id={{ .ID }}">
                        <i class="bi bi-caret-right-square"></i>
                    </a>
                </td>
            </tr>
        {{ end }}
        </table>
    </div>

{{ template "footer" }}
{{ end }}