{{ define "keys"}}
<body>
    <div class="container mt-3">
    <div class="row">
        <div class="col">
        <table class="table">
            <form action="/new_key/" enctype="multipart/form-data" method="post">
                <tr>
                    <td style="width: 20%;">File name</td>
                    <td><input name="name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Private key</td>
                    <td>
                        <input type="file" name="keyfile" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Add key</button></td>
                    <td></td>
                </tr>
            </form>
        </table>
        </div>
        <div class="col">
            <div class="alert alert-info" role="alert">
                <p>This page is only to upload keys and check their presence.</p>
                <p>Please, manage keys and hosts in ansible inventory or <b>ansible.cfg</b> file in your repo.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Del</th>
                <th>ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>File</th>
                <th>State on disk</th>
            </tr>
            {{ range .Keys }}
            <tr>
                <td>
                    <a href="/key_del?id={{ .ID }}">
                        <i class="bi bi-x-square"></i>
                    </a>
                </td>
                <td>{{ .ID }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .File }}</td>
                {{ if eq .State "Absent" }}
                <td style="background-color: rgb(252, 162, 162)">
                    {{ .State }}
                </td>
                {{ else }}
                <td style="background-color: rgb(161, 245, 161)">
                    {{ .State }}
                </td>
                {{ end }}
            </tr>
            {{ end}}
        </table>
    </div>
    </div>

{{ template "footer" }}
{{ end }}