{{ define "plays" }}

<body>
    <div class="container mt-5">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <th>Playbook</th>
                    <th>Hosts or groups</th>
                    <th>Run for all hosts</th>
                </tr>
                {{ range .Keys }}
                <tr>
                    <td>
                        <a href="/show?file={{ .Name }}">{{ .Name }}</a>
                    </td>
                    <td>
                        {{ .State }}
                    </td>
                    <td>
                        <a href="/run?file={{ .Name }}">
                            <i class="bi bi-caret-right-square"></i>
                        </a>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
    </div>
        

{{ template "footer" }}
{{ end }}