{{ define "repo" }}

<body>
    <div class="container mt-5">
    <div class="row">
        <div class="col">
        <table class="table">
            <form action="/save_repo/" method="post">
                <tr>
                    <td style="width: 20%;">Path</td>
                    <td><input name="path" type="text" class="form-control" value="{{ .Repo.Path }}"></td>
                </tr>
                <tr>
                    <td>Head</td>
                    <td><input name="head" type="text" class="form-control" value="{{ .Repo.Head }}"></td>
                </tr>
                <tr>
                    <td>Inventory</td>
                    <td><input name="inv" type="text" class="form-control" value="{{ .Repo.Inv }}"></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Save</button></td>
                    <td></td>
                </tr>
            </form>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/host_add/" method="post" class="input-group">
                <input name="host" type="text" class="form-control" placeholder="Host" style="max-width: 25%;">
                <input name="groups" type="text" class="form-control" placeholder="Groups (space separated)">
                <button type="submit" class="btn btn-primary">Add host</button>
            </form>
            <br>
            <table class="table table-striped">
                <tr>
                    <th style="width: 5%;">Del</th>
                    <th>Host</th>
                    <th>Groups</th>
                </tr>
                {{ range .Repo.Hosts }}
                <tr>
                    <td>
                        <a href="/host_del?name={{ .Name }}">
                            <i class="bi bi-x-square"></i>
                        </a>
                    </td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Groups }}</td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
    </div>
        

{{ template "footer" }}
{{ end }}