{{ define "repo" }}

<body>
    <div class="container mt-5">
    <div class="row">
        <div class="col">
        <table class="table">
            <form action="/save_repo/" method="post">
                <tr>
                    <td style="width: 20%;">Path</td>
                    <td><input name="path" type="text" class="form-control" value="{{ .Repo.Path }}"></td>
                </tr>
                <tr>
                    <td>Head</td>
                    <td><input name="head" type="text" class="form-control" value="{{ .Repo.Head }}"></td>
                </tr>
                <tr>
                    <td>Inventory</td>
                    <td><input name="inv" type="text" class="form-control" value="{{ .Repo.Inv }}"></td>
                </tr>
                <tr>
                    <td>Hosts</td>
                    <td><textarea name="hosts" class="form-control" style="width: 100%;" rows="3" wrap="soft">{{ range .Repo.Hosts }}{{ . }} {{ end }}</textarea></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Save</button></td>
                    <td></td>
                </tr>
            </form>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <th>Playbook</th>
                    <th>Run for all hosts</th>
                    <!-- <th>Run for one host</th> -->
                </tr>
                {{ range .Themes }}
                <tr>
                    <td>{{ . }}</td>
                    <td>
                        <a href="/run?file={{ . }}">
                            <i class="bi bi-caret-right-square"></i>
                        </a>
                    </td>
                    <!-- <td>
                        <a href="/run?file={{ . }}">Host</a>
                    </td> -->
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
    </div>
        

{{ template "footer" }}
{{ end }}